
<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, vitae corporis assumenda harum debitis facilis aliquam atque ex neque officia.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum placeat iste ullam tempore natus maxime laborum dolore numquam odit ab.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, expedita. Suscipit neque excepturi temporibus dolorem voluptatum at nobis repudiandae quas?</p>


    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>

    
</section>